/*page----------------------------------------*/
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
}
/*nav-----------------------------------------*/
#nav {
  height: 69px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid seashell;
  /*NEED TO MAKE FIXED*/
}

#nav img {
  height: 50px;
  margin-left: 10px;
}

ul {
  list-style: none;
}

li {
  display: inline-block;
  margin: 0 10px;
}

a {
    color: seashell;
}

/*banner------------------------------------*/

#banner {
  height: 700px;
  width: 1200px;
  margin: 0 auto;
  display:flex;
  align-items: center;
  background-image: url("imgs/img-mission-background.jpg");
}
/*section header txt----------------------*/
.teatxt {
  height: 100px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: black;
}

/*Tea Of the Month-------------------------------------*/

#tom {
  width: 1000px;
  margin: 80px auto;
}

#tom ul li {
  margin: 10px;
}

#tom img {
  height: 200px;
  width: 300px;
}

/*Locations-----------------------------------------*/

#locations {
  height: 500px;
  width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: url("imgs/img-locations-background.jpg");
}

#infobox {
  display: flex;
  justify-content: center;
  align-items: center;
}

.lo-info {
  height: 277px;
  width: 300px;
  margin: 15px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: #000;
/*specs adv opacity 1, as this is the default its not included*/
}
